.section-tittle{
    
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: var(--text-primary);
    text-align: center;

}

@media (min-width: 768px){
    .section-tittle{
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        color: var(--text-primary);
        text-align: start;
    }
}